@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cardscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.cardscontainer .cards {
    position: relative;
    width: 350px;
    height: 520px;
    background: #ccc;
    margin: 20px;
    border-radius: 40px;
    overflow: hidden;
}

.cardscontainer .cards::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1000;
}

.cardscontainer .cards .icon {
    position: relative;
    width: 100%;
    height: 50%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardscontainer .cards .icon img {
    filter: invert(1);
    max-width: 120px;
}

.cardscontainer .cards .icon::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #ccc;
}

.cardscontainer .cards .icon::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #333;
    border-bottom-left-radius: 80px;
}

.cardscontainer .cards:nth-child(1) .icon,
.cardscontainer .cards:nth-child(1) .icon::after,
.cardscontainer .cards:nth-child(1) .content::before,
.cardscontainer .cards:nth-child(1) .content .text a {
    background: #b61774;


}

.cardscontainer .cards:nth-child(2) .icon,
.cardscontainer .cards:nth-child(2) .icon::after,
.cardscontainer .cards:nth-child(2) .content::before,
.cardscontainer .cards:nth-child(2) .content .text a {
    background: #66023C;

}

.cardscontainer .cards:nth-child(3) .icon,
.cardscontainer .cards:nth-child(3) .icon::after,
.cardscontainer .cards:nth-child(3) .content::before,
.cardscontainer .cards:nth-child(3) .content .text a {

    background: #30011c;
}


.cardscontainer .cards .content {
    position: relative;
    width: 100%;
    height: 50%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardscontainer .cards .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #333;

}

.cardscontainer .cards .content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #ccc;
    border-top-right-radius: 80px;
}


.cardscontainer .cards .content .text {
    z-index: 1;
    text-align: center;
    padding: 20px 30px;
    z-index: 1;
}

.cardscontainer .cards .content .text h2 {
    font-weight: 500;
    font-size: 1.7em;
    color: #333;
}

.cardscontainer .cards .content .text p {
    font-weight: 400;
    color: #333;
    margin: 10px 0;
}

.cardscontainer .cards .content .text a {
    display: inline-block;
    padding: 12px 25px;
    background: #333;
    color: #fff;
    margin-top: 10px;
    border-radius: 30px;
    text-decoration: none;
}