$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  min-height: 150vh;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #fff;
  &:before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 85%);
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
    top: 0;
    transform-style: flat;
    pointer-events: none;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    -webkit-mask: linear-gradient(-20deg, transparent 50%, white);
    mask: linear-gradient(-20deg, transparent 50%, white);
  }
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  height: 65px;
  padding: 0 60px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px #ccc;

  @media (max-width: #{ $tablet - 1px }) {
    padding: 10px 20px;
  }

  &.sticky {
    position: sticky;
    z-index: 999;
    top: 0;
  }

  .header__logo {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 150px;
    flex-basis: 150px;
  }

  .cart__login__search {
    min-width: 150px;
    flex-basis: 150px;

    .list__icon {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      gap: 10px;
      list-style: none;

      li {
        a {
          padding: 5px;
          font-size: 18px;
          color: #000;
          transition: 0.25s;

          &:hover {
            color: #ff5722;
          }
        }
      }
    }
  }

  .menu__horizontal {
    width: 100%;
    position: initial;
    justify-content: center;
    display: flex;
    align-items: center;

    .menu__horizontal__wrapper {
      overflow: hidden;
      max-height: 65px;
    }

    .header__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .menu__horizontal__btn {
      @media (max-width: #{ $tablet - 1px }) {
        display: none;
      }

      .menuBtn__wrapper {
        display: flex;
        flex-flow: row nowrap;
      }

      .menu__prev,
      .menu__next {
        width: 35px;
        height: 35px;
        font-size: 14px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          color: #ff5722;
        }
      }

      button.disabled {
        cursor: default;
        opacity: 0.25;
      }
    }
  }
}

.header__menu {
  .main__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    max-width: 100%;
    width: 100%;

    @media (max-width: #{ $tablet - 1px }) {
      position: fixed;
      top: 65px;
      left: 0;
      height: 75%;
      display: block;
      padding-top: 10px;
      padding-bottom: 0;
      background: #fff;
      box-shadow: 0 20px 50px 0 rgb(0 0 0 / 15%);
      overflow-y: auto;
      transform: translateX(-100%);
      transition: 0.3s ease-out;

      &.open {
        transform: translateY(0);
      }
    }

    > .menu__item {
      position: initial;

      @media (max-width: #{ $tablet - 1 }) {
        border-bottom: 1px solid #eee;
      }

      > .menuItem__link {
        display: flex;
        align-items: center;
        height: 65px;
        padding: 1rem;

        @media (max-width: #{ $tablet - 1px }) {
          padding: 1rem 2rem 1rem 1rem;
          font-weight: 500;
        }
      }
    }

    .menu__item {
      &:hover {
        .mega__menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    > .menu__item:not(.visible-row):hover > .sub__menu {
      @media (min-width: #{ $tablet - 1 }) {
        opacity: 0 !important;
        visibility: hidden !important;
        pointer-events: none !important;
      }
    }
  }

  .menu__item {
    position: relative;

    &:hover {
      @media (min-width: $tablet) {
        > .sub__menu {
          opacity: 1;
          visibility: visible;
        }

        > .expand-btn {
          &:after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }

    @media (min-width: $tablet) {
      .sub__menu--right,
      .sub__menu--left {
        .expand-btn {
          &:after {
            right: 0.625rem;
          }
        }
      }
    }
  }

  // Level 1
  .sub__menu {
    @media (min-width: $tablet) {
      position: absolute;
      top: calc(100% + 2px);
      width: 190px;
      padding: 5px 0;
      background: #fff;
      border-radius: 0 0 5px 5px;
      opacity: 0;
      box-shadow: 0 20px 50px 0 rgb(0 0 0 / 15%);
      visibility: hidden;
      transition: all 0.4s ease;

      .menuItem__link {
        padding: 0.5rem 1.5rem 0.5rem 1rem;

        &.expand-btn {
          &::after {
            right: 10px;
          }
        }
      }
    }

    @media (max-width: #{ $tablet - 1px }) {
      display: none;
      position: relative;
      z-index: 999;
      top: 0;
      padding: 10px 0;
      width: 100%;
      overflow: hidden;
      background-color: #f9f9f9;
      .menu__item {
        border-bottom-color: #ececec;
      }
    }
  }

  // Level 2
  .sub__menu--right {
    top: 0;
    left: 100%;

    @media (max-width: #{ $tablet - 1px }) {
      top: 0;
      left: 0;
      right: auto;
      width: 100%;
      padding-left: 1rem;

      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 17px;
        width: 1px;
        height: calc(100% - 25px);
        background-color: rgb(0 0 0 / 15%);
        transform: translateY(-50%);
      }
    }
  }

  // Level 2
  .sub__menu--left {
    top: 0;
    left: -100%;

    @media (max-width: #{ $tablet - 1px }) {
      top: 0;
      left: 0;
      width: 100%;
      padding-left: 1rem;

      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 17px;
        width: 1px;
        height: calc(100% - 25px);
        background-color: rgb(0 0 0 / 15%);
        transform: translateY(-50%);
      }
    }
  }

  // menu Item
  .menuItem__link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    font-size: 14px;
    transition: 0.25s;

    &:hover {
      color: #ff5722;
    }

    @media (max-width: $tablet) {
      &.expand-btn {
        &::after {
          right: 15px;
        }
      }
    }
  }

  ul {
    li {
      list-style: none;
      transition: 0.3s ease;

      a {
        position: relative;
        text-decoration: none;
        color: #000;
      }
    }
  }

  // Mega Menu
  .menu__item:has(.mega__menu) {
    @media (min-width: $tablet) {
      position: inherit !important;
    }
  }

  .mega__menu {
    @media (min-width: $tablet) {
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      padding-top: 0;
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      transition: all 0.4s ease-out 0s, visibility 0.1s linear 0s;
    }

    @media (max-width: #{ $tablet - 1px }) {
      position: relative;
      display: none;
      padding-left: 0;
      padding: 0;
    }
  }

  .megaMenu__wrap {
    padding: 30px;

    @media (max-width: #{ $tablet - 1 }) {
      padding: 1rem;
    }
  }

  .megaMenu__inner {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;

    .megaMenu__item {
      .megaMenuTitle {
        display: flex;

        a {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-weight: 700;
          transition: 0.25s;

          @media (max-width: #{$desktop - 1 }) {
            padding-left: 0;
          }

          &:hover {
            color: #ff5722;
          }
        }
      }

      .megaMenuContent {
        .sub__menu--static {
          padding-left: 0;

          .menu__item {
            .menuItem__link {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .menu__category {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }

    .megaMenu__wrap {
      min-width: 100%;
      flex-basis: 100%;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);

      @media (min-width: $tablet) {
        background-color: #fff;
      }

      @media (min-width: $desktop) {
        min-width: 85%;
        flex-basis: 85%;
      }
    }

    .megaMenu__inner {
      .megaMenu__item {
        display: flex;
        flex-flow: column;
        min-width: calc(33.333333% - 13.333333px);
        flex-basis: calc(33.333333% - 13.333333px);

        @media (max-width: #{ $tablet - 1 }) {
          min-width: calc(50% - 13.333333px);
          flex-basis: calc(50% - 13.333333px);
        }

        @media (max-width: #{ $mobile - 1 }) {
          min-width: 100%;
          flex-basis: 100%;
        }
      }
    }
  }

  .menu__catalogue {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }

    .megaMenu__wrap {
      display: flex;
      flex-flow: row wrap;
      gap: 0;
      min-width: 100%;
      flex-basis: 100%;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);

      @media (min-width: $tablet) {
        background-color: #fff;
      }

      @media (min-width: $desktop) {
        min-width: 85%;
        flex-basis: 85%;
      }

      @media (max-width: #{ $tablet - 1 }) {
        row-gap: 15px;
      }
    }

    .megaMenu__inner {
      flex-basis: 50%;
      min-width: 50%;

      @media (max-width: #{ $tablet - 1 }) {
        flex-basis: 100%;
        min-width: 100%;
      }

      .megaMenu__item {
        display: flex;
        flex-flow: column;
        min-width: calc(33.333333% - 13.333333px);
        flex-basis: calc(33.333333% - 13.333333px);

        @media (max-width: #{ $tablet - 1 }) {
          min-width: calc(50% - 13.333333px);
          flex-basis: calc(50% - 13.333333px);
        }

        @media (max-width: #{ $mobile - 1 }) {
          min-width: 100%;
          flex-basis: 100%;
        }
      }
    }

    .menuMega__catalogue {
      display: flex;
      flex-flow: row wrap;
      flex-basis: 50%;
      min-width: 50%;
      gap: 10px;

      @media (max-width: #{ $tablet - 1 }) {
        flex-basis: 100%;
        min-width: 100%;
      }

      .col--left,
      .col--right {
        flex-basis: calc(50% - 5px);
        min-width: calc(50% - 5px);
      }

      .col--left {
        display: flex;
        flex-flow: column;
        gap: 10px;

        img {
          aspect-ratio: 4 / 3;
          object-fit: cover;
        }
      }

      .col--right {
        .menuCatalogue__item {
          height: 100%;
        }

        a {
          height: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .menuCatalogue__item {
        a {
          display: flex;
          position: relative;
          border-radius: 10px;
          overflow: hidden;

          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            width: 100%;
            transform: scale(1);
            transition: 0.25s;
          }

          p {
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 100%;
            padding: 20px 10px;
            text-align: center;
            color: #fff;
          }

          &:before {
            z-index: 1;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%;
            background: rgba(0, 0, 0, 4.8);
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.5) 100%
            );
          }
        }
      }
    }
  }
}

.menu__btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;

  @media (max-width: #{ $tablet - 1px }) {
    display: flex;
  }

  .menu__btn__lines,
  .menu__btn__lines::before,
  .menu__btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background: #000;
    transition: all 0.4s ease-in-out;
  }

  .menu__btn__lines {
    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      transform: translateY(-0.5rem);
    }

    &::after {
      transform: translateY(0.5rem);
    }
  }

  &.open {
    .menu__btn__lines {
      transform: translateX(1rem);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(-0.5rem, 0.5rem);
        background: #000;
        height: 0.05rem;
      }

      &::after {
        transform: rotate(-45deg) translate(-0.5rem, -0.5rem);
        background: #000;
        height: 0.05rem;
      }
    }
  }
}

.expand-btn {
  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: " \f107";
    font-family: "Font Awesome 6 Free";
    font-size: 11px;
    font-weight: 900;
    opacity: 0.75;
    transform: translateY(-50%) rotate(0);
    transition: 0.25s;
  }

  &.open {
    color: #ff5722;

    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.overflow {
  @media (max-width: #{ $tablet - 1px }) {
    overflow: hidden;
  }
}

.overlay {
  @media (max-width: #{ $desktop - 1px }) {
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    &.overlay--active {
      opacity: 1;
      visibility: visible;
    }
  }
}

/* container */
.container {
  margin: 100px auto auto;
  padding: 0 30px;
  max-width: 1200px;
  text-align: center;
  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    color: #000;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 24px;
    }
    @media (max-width: 575px) {
      font-size: 20px;
    }
  }
  ul {
    list-style: none;
    li {
      text-align: center;
      padding: 0.625rem 0;
      color: #000;
      line-height: 1.4;
    }
  }
}
